<br/>
<br/>
<br/>
<section>
    <div class="container text-center">
        <div class="col-12">
            <button type="button" class="btn btn-light" (click)="loginWithGoogle()">
                <img src="../../assets/images/google-icon.png" width="32" height="30">
                Continue with Google
            </button>
        </div>
        <br/>
        <div class="col-12">
            <button class="btn btn-primary">
                <img src="../../assets/images/facebook-icon_128x128.png" width="32" height="30">
                Continue with Facebook
            </button>
        </div>
    </div>
</section>