<br/>
<br/>
<br/>
<section class="text-center">
    <div class="container">
        <tabset #tabset>
            <!--Veg Soup Tab Start-->
            <tab heading="Veg Soup">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsVegSoup">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsVegSoup.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(11)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Meals</button>
                        <button (click)="showTab(1)" class="btn btn-link float-right">Non Veg Soup <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsVegSoup.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--Veg Soup Tab End-->
            <!--Non Veg Soup Tab Start-->
            <tab heading="Non Veg Soup">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsNonVegSoup">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsNonVegSoup.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(0)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Veg Soup</button>
                        <button (click)="showTab(2)" class="btn btn-link float-right">Veg Dimsum <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsNonVegSoup.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--NonVegSoup Tab End-->
            <!--Dimsum Tab Start-->
            <tab heading="Veg Dimsum">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsVegDimsum">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsVegDimsum.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(1)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Non Veg Soup</button>
                        <button (click)="showTab(3)" class="btn btn-link float-right">Non Veg Dimsum <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsVegDimsum.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <tab heading="Non Veg Dimsum">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsNonVegDimsum">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsNonVegDimsum.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(2)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Veg Dimsum</button>
                        <button (click)="showTab(4)" class="btn btn-link float-right">Veg Starters <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsNonVegDimsum.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--Dimsum Tab End-->
            <!--Starters Tab Start-->
            <tab heading="Veg Starters">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsVegStarters">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsVegStarters.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(3)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Non Veg Dimsum</button>
                        <button (click)="showTab(5)" class="btn btn-link float-right">Non Veg Starters <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsVegStarters.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <tab heading="Non Veg Starters">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsNonVegStarters">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsNonVegStarters.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(4)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Veg Starters</button>
                        <button (click)="showTab(6)" class="btn btn-link float-right">Grills <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsNonVegStarters.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--Starters Tab End-->
            <!--Grills Tab Start-->
            <tab heading="Grills">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsGrills">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsGrills.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(5)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Non Veg Starters</button>
                        <button (click)="showTab(7)" class="btn btn-link float-right">Veg Mains & Curries <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsGrills.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--Grills Tab End-->
            <!--MainsCurries Tab Start-->
            <tab heading="Veg Mains & Curries">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsVegMainsCurries">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsVegMainsCurries.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(6)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Grills</button>
                        <button (click)="showTab(8)" class="btn btn-link float-right">Non Veg Mains & Curries <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsVegMainsCurries.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <tab heading="Non Veg Mains & Curries">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsNonVegMainsCurries">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsNonVegMainsCurries.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(7)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Veg Mains & Curries</button>
                        <button (click)="showTab(9)" class="btn btn-link float-right">Veg Sides <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsNonVegMainsCurries.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--MainsCurries Tab End-->
            <!--Sides Tab Start-->
            <tab heading="Veg Sides">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsVegSides">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsVegSides.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(8)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Non Veg Mains & Curries</button>
                        <button (click)="showTab(10)" class="btn btn-link float-right">Non Veg Sides <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsVegSides.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <tab heading="Non Veg Sides">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsNonVegSides">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsNonVegSides.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(9)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Veg Sides</button>
                        <button (click)="showTab(11)" class="btn btn-link float-right">Meals <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsNonVegSides.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--Sides Tab End-->
            <!--ComboMeal Tab Start-->
            <tab heading="Meals">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsComboMeal">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsComboMeal.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(5)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Sides</button>
                        <button (click)="showTab(0)" class="btn btn-link float-right">Veg Soup <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsComboMeal.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--ComboMeal Tab End-->
        </tabset>
    </div>
</section>