<br/>
<br/>
<section class="text-center">
    <div class="container">
        <tabset #tabset>
            <!--Soup Tab Start-->
            <tab heading="Soup">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsSoup">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsSoup.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(6)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Meals</button>
                        <button (click)="showTab(1)" class="btn btn-link float-right">Dimsum <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsSoup.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--Soup Tab End-->
            <!--Dimsum Tab Start-->
            <tab heading="Dimsum">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsDimsum">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsDimsum.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(0)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Soup</button>
                        <button (click)="showTab(2)" class="btn btn-link float-right">Starters <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsDimsum.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--Dimsum Tab End-->
            <!--Starters Tab Start-->
            <tab heading="Starters">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsStarters">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsStarters.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(1)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Dimsum</button>
                        <button (click)="showTab(3)" class="btn btn-link float-right">Grills <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsStarters.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--Starters Tab End-->
            <!--Grills Tab Start-->
            <tab heading="Grills">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsGrills">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsGrills.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(2)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Starters</button>
                        <button (click)="showTab(4)" class="btn btn-link float-right">Mains & Curries <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsGrills.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--Grills Tab End-->
            <!--MainsCurries Tab Start-->
            <tab heading="Mains & Curries">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsMainsCurries">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsMainsCurries.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(3)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Grills</button>
                        <button (click)="showTab(5)" class="btn btn-link float-right">Sides <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsMainsCurries.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--MainsCurries Tab End-->
            <!--Sides Tab Start-->
            <tab heading="Sides">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsSides">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsSides.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(4)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Mains & Curries</button>
                        <button (click)="showTab(6)" class="btn btn-link float-right">Meals <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsSides.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--Sides Tab End-->
            <!--ComboMeal Tab Start-->
            <tab heading="Meals">
                <div class="row">
                    <div class="col-md-6" *ngFor="let menuItem of menuItemsComboMeal">
                        <div class="card">
                            <div class="card-body">
                                <img src="../../assets/images/{{ menuItem.itemId }}.png" alt="" class="img-fluid img-thumbnail">
                                <h4>{{ menuItem.itemName }}</h4>
                                <p>{{ menuItem.itemDescription }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h5>    
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" (click)="onAddToBasket(menuItem.itemId)">Add To Basket</button>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="menuItemsComboMeal.length > 0" class="row text-center">
                    <div class="col-md-12">
                        <button (click)="showTab(5)" class="btn btn-link float-left"><i class="fas fa-angle-double-left"></i> Sides</button>
                        <button (click)="showTab(0)" class="btn btn-link float-right">Soup <i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div *ngIf="menuItemsComboMeal.length === 0" class="row text-center">
                    <div class="col">
                        <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                        <button class="btn btn-secondary" [routerLink]="['/basket']">Basket</button>
                    </div>
                </div>
            </tab>
            <!--ComboMeal Tab End-->
        </tabset>
    </div>
</section>