<br/>
<br/>
<br/>
<section>
    <div class="container">
        <br/>
        <div *ngIf="menuItemsBasket.length === 0" class="text-center">
            <h5>Your basket is empty!</h5>
            <br/>
            <div class="col">
                <button class="btn btn-secondary mr-4" [routerLink]="['/home']">Home</button>
                <button class="btn btn-secondary" [routerLink]="['/menu']">Menu</button>
            </div>
        </div>
        <div *ngIf="menuItemsBasket.length > 0" class="col-lg-9">
            <div>
                <h6>
                    Subtotal ({{ menuItemsBasket.length }} items): 
                    <s>
                        <i class="fas fa-rupee-sign"></i>{{ getTotalPrice() }}
                    </s>
                    <span class="text-danger">
                        <i class="fas fa-rupee-sign"></i>{{ getDiscountedPrice() }}
                    </span>
                </h6>
            </div>
        </div>
        <div *ngIf="menuItemsBasket.length > 0 && !isLoggedIn()" class="col-lg-6">
            <button type="button" class="btn btn-warning" [routerLink]="['/login']">Proceed To Checkout</button>
        </div>
        <div *ngIf="menuItemsBasket.length > 0 && isLoggedIn()" class="col-lg-6">
            <button type="button" class="btn btn-warning" [routerLink]="['/userinfo']">Proceed To Checkout</button>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12" *ngFor="let menuItem of menuItemsBasket">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6>{{ menuItem.name }}</h6>
                            </div>
                            <div class="col">
                                <h6 class="card-title"><i class="fas fa-rupee-sign"></i>{{ menuItem.price }}</h6>    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col ml-2">
                            <select class="form-control">
                                <option value="1">Qty: 1</option>
                                <option value="2">Qty: 2</option>
                                <option value="3">Qty: 3</option>
                                <option value="4">Qty: 4</option>
                                <option value="5">Qty: 5</option>
                                <option value="6">Qty: 6</option>
                                <option value="7">Qty: 7</option>
                                <option value="8">Qty: 8</option>
                                <option value="9">Qty: 9</option>
                            </select>    
                        </div> -->
                        <div class="col">
                            <button type="button" class="btn btn-secondary btn-sm ml-4" (click)="removeMenuItemsFromBasket(menuItem.menuItemId)">Remove From Basket</button>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</section>
