<div class="pos-f-t">
    <nav class="navbar fixed-top navbar-light bg-light">
        <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleContent" aria-controls="navbarToggleContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">Solanas Wok & Grill</a>
        <div>
            <img src="../assets/images/CartIconBlack1.png" width="35" height="35" [routerLink]="['/basket']">
            <label class="text-danger" *ngIf="menuItemsBasket.length > 0">{{ menuItemsBasket.length }}</label>
        </div>
        <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarToggleContent">
            <br/>
            <div class="bg-dark p-4">
                <a class="nav-link" routerLinkActive="nav-item active" (click)="isCollapsed = !isCollapsed" [routerLink]="['/home']">Home</a>
                <a class="nav-link" routerLinkActive="nav-item active" (click)="isCollapsed = !isCollapsed" [routerLink]="['/menu']">Menu</a>
                <a class="nav-link" routerLinkActive="nav-item active" (click)="isCollapsed = !isCollapsed" [routerLink]="['/basket']">My Basket</a>
                <a class="nav-link" routerLinkActive="nav-item active" (click)="isCollapsed = !isCollapsed" [routerLink]="['/order']">Orders</a>
            </div>
        </div>
    </nav>
</div>
  
<router-outlet></router-outlet>
<br/>

<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="text-white font-weight-bold">Contact us:</p>            
                <p class="text-white">LG 20 Hong Kong Bazaar, Section 57, Gurugram, Harayana 122413</p>
                <p class="text-white">
                    <i class="fas fa-phone-alt"></i><a href="tel:+919999516139"> +91 99995 16139</a>
                </p>
                </div>
            <div class="col-md-4">
                <p class="text-white font-weight-bold">Connect with us:</p>        
                <div class="row">
                    <a href="https://www.facebook.com/solanaswokandgrill/" target="_blank">
                        <img src="../assets/images/facebook-icon_128x128.png" width="60" hight="60" class="l-5 px-2">
                    </a>
                    <a href="https://www.facebook.com/solanaswokandgrill/" target="_blank">
                        <img src="../assets/images/instagram-icon_128x128.png" width="60" hight="60" class="px-2">
                    </a>
                    <a href="https://in.linkedin.com/in/solanas-wok-and-grill-21149717a" target="_blank">
                        <img src="../assets/images/linkedin-icon_128x128.png" width="60" hight="60" class="px-2">
                    </a>
                    <a href="https://in.linkedin.com/in/solanas-wok-and-grill-21149717a" target="_blank">
                        <img src="../assets/images/youtube-icon_128x128.png" width="60" hight="60" class="px-2">
                    </a>
                </div>
                <br/>
            </div>
            <div class="col-md-4">
                <p class="text-white font-weight-bold">Apps:</p>        
                <div class="row">
                    <img src="../assets/images/apple-store-icon.png" width="160" height="56">
                    <img src="../assets/images/google-play-icon.png" width="140" height="54">
                </div>
            </div>
        </div>
    </div>
</footer>
    
    